#login-page {
  position: relative;
  width: 650px;
  height: 650px;
  padding: 40px;
  margin:0 auto;
  margin-top: 40px;
  border-radius: 50px;
  margin-bottom: 180px;
  box-sizing: border-box;
  background: #605b5b;
  box-shadow: 0px 0px 32px 0px #49535e, -14px -14px 20px #191c21;
}

#register-page {
  position: relative;
  width: 650px;
  height: auto;
  margin:0 auto;

  padding: 40px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background: #605b5b;
  box-shadow: 0px 0px 32px 0px #49535e, -14px -14px 20px #191c21;
}

.container {
  padding: 40px;
}

.container > h1 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 17px;
}

label,
input {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 10px;
  margin-left: 8px;
  font-size: 24px;
  color: white;
  margin-top: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

input[type="password"],
input[type="number"],
input[type="email"] {
  padding: 20px;
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #c0c2c5, inset -2px -2px 5px #ffffff;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  transition: all 0.3s ease;
}

input#username {
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #c0c2c5, inset -2px -2px 5px #ffffff;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  transition: all 0.3s ease;
}

input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input#username:focus {
  border: 2px solid #54a8cc;
  box-shadow: 0 0 8px #54a8cc;
  background: linear-gradient(145deg, #e6f7ff, #cceeff);
}

.btn.submit {
  background-color: #797979;
  font-size: 24px;
  border-radius: 30px;
  margin-top: 50px;
  color: white;
}

.btn.submit:hover {
  background-color: rgb(110, 204, 245);
  transition: 0.3s;
}

.container {
  text-align: left;
  margin-top: 0px;
}

.registration-redirect {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #b8b8b8;
}

.registration-redirect span {
  color: #2a265f;
  text-decoration: none;
  transition: color 0.3s ease;
}

.registration-redirect span:hover {
  color: #54a8cc;
}
@media screen and (max-width: 768px) {
  #login-page {
    width: 430px;
    height: 620px;
    
  }

  #register-page {
    width: 430px;
    height: 800px;
  }
  label {
    font-size: 20px;
  }

  .container {
    padding: 20px;
  }
}

@media screen and (max-width: 1024px) {
  #login-page {
    width: 550px;
    height: 600px;
  }

  #register-page {
    width: 550px;
    height: auto;
  }

  .container {
    padding: 30px;
  }

  .container > h1 {
    font-size: 3rem;
  }

  label {
    font-size: 22px;
  }

  .btn.submit {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  #login-page {
    width: 430px;
    height: 580px;
  }

  #register-page {
    width: 430px;
    height: auto;
  }

  .container {
    padding: 15px;
  }

  .container > h1 {
    font-size: 2.5rem;
  }

  label {
    font-size: 18px;
  }

  .btn.submit {
    font-size: 20px;
    margin-top: 30px;
  }

  .registration-redirect {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  #login-page {
    width: 380px;
    height: 550px;
  }

  #register-page {
    width: 380px;
    height: auto;
  }

  .container {
    padding: 10px;
  }

  .container > h1 {
    font-size: 2rem;
  }

  label {
    font-size: 16px;
   margin-bottom: 5px;

  }

  .btn.submit {
    font-size: 18px;
    margin-top: 20px;
  }

  .registration-redirect {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  #login-page {
    width: 750px;
    height: 750px;
  }

  #register-page {
    width: 750px;
    height: auto;
  }

  .container {
    padding: 50px;
  }

  .container > h1 {
    font-size: 4rem;
  }

  label {
    font-size: 28px;
  }

  .btn.submit {
    font-size: 26px;
  }

  .registration-redirect {
    font-size: 20px;
  }
}