body {
  background: linear-gradient(-0.80turn, #54a8cc, #ffffff);
  background-attachment: fixed;
  background-size: cover;
}
.topnav {
  overflow: hidden;
  background-color: #605b5b;
}


.topnav nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}
.topnav h1 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}
.topnav h1:hover {
  color: #54a8cc;
  cursor: pointer;
  text-shadow: #f2f2f2 ;
}

.topnav nav a:hover {
  color: #54a8cc;
  text-shadow: #f2f2f2;
  transition: 0.3s;
}
.menu-button {
  display: none; /* Hide button on larger screens */
  float: right;
  font-size: 30px;
  color: #f2f2f2;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-open,
.nav-closed {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-open {
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #333;
  margin: 0;
}



@media screen and (max-width: 768px) {
  .topnav nav {
    display: none;
  }
 

  .menu-button {
    display: block; 
    position: relative;
    top: -60px;
  }

  .topnav nav a {
    display: block;
    text-align: center; 
  }

  .topnav h1,
  .topnav nav {
    float: none; 
    text-align: center;
  }
}
