#create-page,
#edit-page {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: auto;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  background: #3e4443;
  box-shadow: 0px 0px 32px 0px #32485e, -14px -14px 20px #191c21;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"] {
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #c0c2c5, inset -2px -2px 5px #ffffff;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border: 2px solid #54a8cc;
  box-shadow: 0 0 8px #54a8cc;
  background: linear-gradient(145deg, #e6f7ff, #cceeff);
}

select {
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #c0c2c5, inset -2px -2px 5px #ffffff;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  transition: all 0.3s ease;
}

select:hover {
  border: 2px solid #54a8cc;
  box-shadow: 0 0 8px #54a8cc;
  background: linear-gradient(145deg, #e6f7ff, #cceeff);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
}

.container h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
}

textarea {
  width: 100%;
  min-height: 7em;
  border: 2px solid #86a480;
  font-size: 18px;
  background-color: #ecf0f3;
  margin-top: 7px;
  color: black;
  box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

#create-page h2 {
  color: #ecf0f3;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 24px;
}


button.addBtn {
    background-color: #e38251;
    height: 55px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
    padding: 10px;
}

@media (max-width: 768px) {
  #create-page,
  #edit-page {
    padding: 20px;
    max-width: 550px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="tel"],
  select,
  textarea {
    font-size: 16px;
    padding: 10px;
  }

  .container h1 {
    font-size: 24px;
  }

  #create-page h2 {
    font-size: 20px;
  }

  button.addBtn {
    max-width: 120px;
    font-size: 14px;
    padding: 8px;
}
}

@media (max-width: 480px) {
  #create-page,
  #edit-page {
    padding: 10px;
    max-width: 300px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="tel"],
  select,
  textarea {
    font-size: 14px;
    padding: 8px;
  }

  .container h1 {
    font-size: 20px;
  }

  #create-page h2 {
    font-size: 18px;
  }

  button.addBtn {
    max-width: 100px;
    font-size: 12px;
    padding: 6px;
}
}
